<form method="POST" action="/issues">
    <label for="description">Description</label>
    <input type="text" name="description" id="desc"/>

    <label>Date</label>
    <input type="date" name="createdAt" id="dt"/>

    <label>Status</label>
    <input type="text" name="status" value="open" id="st"/>

    <label>Priority</label>
    <input type="text" name="priority" id="pr"/>

    <input type="submit" value="Create Issue" id="cr"/>
  
</form>